@import "../../../common/styles/table";

.flagged-toponyms .inner {
  padding:0;
  max-height:335px;
  overflow-y:auto;
  overflow-x:hidden;

  .icon {
    font-size:14px;
  }

  table {
    width:100%;
    table-layout:fixed;
    word-break: break-word;
  }

  th {
    white-space:nowrap;
  }

  th:last-child, td:last-child {
    text-align:right;
  }

  td {
    width:50px;
  }
  
}