@import "../../../common/styles/colors";

.inner.timeline {
  position:relative;
  width:100%;
  height:100%;
  padding:15px 0 10px 0;

  .recharts-wrapper {
    margin:0 auto;
  }

  svg {
    font-family:PTSansNarrow;
    font-size:13px;
    shape-rendering:crispEdges;

    .recharts-layer {
      shape-rendering:geometricPrecision;
    }

  }

}