.inner.summary-stats {
  min-height:180px;
  padding:20px;

  td {
    padding:2px;
    line-height:19px;
    font-size:14px;
  }

  td:first-child {
    font-size:19px;
    text-align:right;
  }

  td:last-child {
    position:relative;
    top:2px;
  }

  #annotations-by-category {
    position:absolute;
    top:15px;
    right:30px;
  }

}

