.inner.summary-stats {
  min-height:170px;
  padding:20px 30px;

  td {
    padding:2px;
    font-size:18px;
    line-height:24px;
    vertical-align:text-top;
  }

  td:first-child {
    text-align:right;
    font-size:26px;
  }
}

#annotations-by-category {
  position:absolute;
  top:20px;
  right:30px;
}